---
import Layout from '../layouts/Layout.astro';

//await new Promise(resolve => setTimeout(resolve, 3000))
---

<Layout>
  Index

  <div class="p-10">
    <div><a href="/development" class="app-link-normal">development</a></div>
  </div>
</Layout>
