---
import Layout from '../layouts/Layout.astro';
import ProfileDetail from '@/components/profile/ProfileDetail.vue';
---

<Layout>
	プロフィール

	<div class="mt-10">
		<div>
			<ProfileDetail client:load />
		</div>
	</div>
</Layout>
