---
import Layout from '../layouts/Layout.astro';
import TweetDetail from '@/components/tweet/TweetDetail.vue';
---

<Layout>
	Tweets

	<div class="mt-10">
		<div>
			<TweetDetail client:load />
		</div>
	</div>
</Layout>
