---
import Layout from '@/layouts/admin/Layout.astro';
import UserEdit from '@/components/admin/user/UserEdit.vue';
---

<Layout>
	User

	<div class="mt-10">
		<div>
			<UserEdit client:load />
		</div>
	</div>
</Layout>
