---
import MenuAuth from './MenuAuth.vue';

const desktopClass = 'hover:text-indigo-500';
---

<header class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo -->
    <a href="/">
      <div
        class="text-2xl font-bold bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent"
      >
        MySite
      </div>
    </a>

    <!-- Desktop Menu -->
    <nav class="flex space-x-8 text-gray-700 font-medium">
      <a href="/" class={desktopClass}>Home</a>
      <span>
        <MenuAuth client:load desktopClass={desktopClass} />
      </span>
    </nav>
  </div>
</header>
